@model HomeAssignment.Models.Contact

<h2>New Contact</h2>
<div id="error-message">@TempData["ErrorMessage"]</div>
<form asp-action="CreateContact" class="form-control" id="new-contact-form">
	<div>
		<label for="id">Id</label>
		<input id="id" name="id" type="text" asp-for=Id pattern="[0-9]{9}" maxlength="9" title="ID should be 9 digits long" required />
		<span asp-validation-for="Id" class="text-danger"></span>
	</div>
	<div>
		<label for="first-name">First Name</label>
		<input id="first-name" type="text" asp-for=FirstName pattern="[A-Za-z]{2,}" maxlength="15" title="First name should be at least 2 letters long" required />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>
	<div>
		<label for="last-name">Last Name</label>
		<input id="last-name" type="text" asp-for=LastName pattern="[A-Za-z]{2,}" maxlength="15" title="Last name should be at least 2 letters long" required />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>
	<div>
		<label for="birth-date">Birth Date</label>
		<input id="birth-date" type="date" asp-for=BirthDate />
		<span asp-validation-for="BirthDate" class="text-danger"></span>
	</div>
	<div>
		<label for="city">City</label>
		<input id="city" type="text" asp-for=City pattern="[A-Za-z]{2,}" maxlength="20" />
		<span asp-validation-for="City" class="text-danger"></span>
	</div>
	<div>
		<label for="street">Street</label>
		<input id="street" type="text" asp-for=Street pattern="[A-Za-z]{2,}" maxlength="20" />
		<span asp-validation-for="Street" class="text-danger"></span>
	</div>
	<div>
		<label for="house-number">House Number</label>
		<input id="house-number" type="number" asp-for=HouseNumber pattern="[0-9]+" maxlength="4" />
		<span asp-validation-for="HouseNumber" class="text-danger"></span>
	</div>
	<div>
		<label for="phone-at-home">Phone at Home</label>
		<input id="phone-at-home" type="text" asp-for=PhoneAtHome pattern="[0-9\-\+\()]+" maxlength="25" />
		<span asp-validation-for="PhoneAtHome" class="text-danger"></span>
	</div>
	<div>
		<label for="phone">Phone</label>
		<input id="phone" type="text" asp-for=Phone pattern="[0-9\-\+\()]+" maxlength="25" />
		<span asp-validation-for="Phone" class="text-danger"></span>
	</div>
	<button class="btn btn-success" type="submit">Save contact</button>
</form>