@model HomeAssignment.Models.Contact

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		// function to sanitize input and remove escape characters
		function sanitizeInput(input) {
			// list of escape characters to remove
			const escapeChars = /[<>"/'\\?!&=]/g;

			// remove any escape characters from the input
			return input.replace(escapeChars, '');
		}

		// get all the input fields inside the form
		const inputs = $('form input');

		// loop through each input field and add an event listener to sanitize the input on change
		inputs.each(function () {
			$(this).on('change', function () {
				const sanitizedInput = sanitizeInput($(this).val());
				$(this).val(sanitizedInput);
			});
		});
	});
</script>
<h2>New Contact</h2>
<form asp-action="CreateContact" class="form-control" id="new-contact-form">
	<div id="contact-id">
		<label for="id">Id</label>
		<input id="id" name="id" type="number" asp-for=Id min="100000000" max="999999999"/>
	</div>
	<div id="contact-first-name">
		<label for="first-name">First Name</label>
		<input id="first-name" type="text" asp-for=FirstName required/>
	</div>
	<div id="contact-last-name">
		<label for="last-name">Last Name</label>
		<input id="last-name" type="text" asp-for=LastName required />
	</div>
	<div id="contact-birth-date">
		<label for="birth-date">Birth Date</label>
		<input id="birth-date" type="date" asp-for=BirthDate />
	</div>
	<div id="contact-city">
		<label for="city">City</label>
		<input id="city" type="text" asp-for=City />
	</div>
	<div id="contact-street">
		<label for="street">Street</label>
		<input id="street" type="text" asp-for=Street />
	</div>
	<div id="contact-house-number">
		<label for="house-number">House Number</label>
		<input id="house-number" type="number" asp-for=HouseNumber />
	</div>
	<div id="contact-phone-at-home">
		<label for="phone-at-home">Phone at Home</label>
		<input id="phone-at-home" type="text" asp-for=PhoneAtHome />
	</div>
	<div id="contact-phone">
		<label for="phone">Phone</label>
		<input id="phone" type="text" asp-for=Phone />
	</div>
	<button class="btn btn-success" type="submit">Save contact</button>
</form>