@model HomeAssignment.Models.Contact

<div>
	@{
		var bd = Model.BirthDate == DateTime.MinValue ? "" : Model.BirthDate.ToString("D");
	}
	<script>
		var editing = false;
		function ToggleEditingMode() {
			const contactFields = document.querySelectorAll("input:not(#id)")
			const exampleInput = contactFields[0];
			const editBtn = document.getElementById("edit-btn");
			const saveBtn = document.getElementById("save-btn");
			contactFields.forEach((field) => {
				if (editing) {
					editBtn.textContent = "Edit ✏";
					editBtn.classList.add("btn-warning")
					editBtn.classList.remove("clicked", "btn-danger");
					field.setAttribute("readonly", "true");
					saveBtn.setAttribute("hidden", "hidden");
					
				}
				else {
					editBtn.textContent = "X";
					editBtn.classList.add("clicked", "btn-warning");
					editBtn.classList.remove("btn-warning");
					field.removeAttribute("readonly");
					saveBtn.removeAttribute("hidden");
				}
			})
			editing = !editing;
		}
	</script>
	<h2>@Model.FirstName @Model.LastName</h2>
	<form asp-action="SaveEdit" class="form-control" id="edit-contact-form">
		<button id="edit-btn" type="button" class="btn btn-warning" onclick="ToggleEditingMode()">Edit ✏</button>
		<div>
			<label for="id">ID</label>
			<input id="id" name="id" type="number" asp-for=Id readonly />
		</div>
		<div>
			<label for="first-name">First Name</label>
			<input id="first-name" type="text" asp-for=FirstName readonly/>
		</div>
		<div>
			<label for="last-name">Last Name</label>
			<input id="last-name" type="text" asp-for=LastName readonly />
		</div>
		<div>
			<label for="birth-date">Birth Date</label>
			<input id="birth-date" type="date" asp-for="BirthDate" readonly />
		</div>
		<div>
			<label for="city">City</label>
			<input id="city" type="text" asp-for=City readonly/>
		</div>
		<div>
			<label for="street">Street</label>
			<input id="street" type="text" asp-for=Street readonly />
		</div>
		<div>
			<label for="house-number">House Number</label>
			<input id="house-number" type="text" asp-for=HouseNumber readonly />
		</div>
		<div>
			<label for="phone-at-home">Phone at Home</label>
			<input id="phone-at-home" type="text" asp-for=PhoneAtHome
			readonly />
		</div>
		<div>
			<label for="phone">Phone</label>
			<input id="phone" type="text" asp-for=Phone
			readonly />
		</div>
		<div>
			<button id="save-btn" type="submit" class="btn btn-success" hidden>Save</button>
		</div>
	</form>
</div>
