html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td,td {
    min-width: 70px;
    max-width: max-content;
}

.contacts-body tr:hover {
    cursor: pointer;
    background-color: aliceblue;
}