html {
  font-size: 14px;
}

@media {
  html {
    font-size: 16px;
  }
}


body {
  margin-bottom: 60px;
}

.contacts-body * {
    min-width: max-content;
}
.contacts-body tr:hover td:not(.checkbox-cell) {
    background-color: aliceblue !important;
    cursor: pointer;
}

.contacts-body tr:hover td.checkbox-cell {
    cursor: default;
}

.checkbox-cell th.checkbox-cell,.checkbox-cell {
    width:20px;
}

#edit-contact-btn {
    background-color: orange;
    color: initial;
}

#edit-contact-fields input{
    border: 1px solid black;
}
#edit-contact-fields div {
    display: block;
    margin-bottom: 8px;
}

form div {
    display: block;
    margin-bottom: 8px;
}

div label {
    display: table-cell;
}