html {
  font-size: 14px;
}

@media {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td,td {
    min-width: 70px;
    max-width: max-content;
}

.contacts-body tr:hover {
    cursor: pointer;
    background-color: aliceblue;
}

#edit-contact-btn {
    background-color: orange;
    color:white;
}


#edit-contact-form div {
    display: block;
    margin-bottom: 8px;
}

form div {
    display: block;
    margin-bottom: 8px;
}

div label {
    display: table-cell;
}