@model List<HomeAssignment.Models.Contact>;

<script>
    function RouteToContactDetails(id) {
        // Redirect to the contact details page using the contact ID
        window.location.href = "/ContactDetails/Index/" + id;
    }
</script>
<h3>Contacts Page</h3>
<table border="1" class="table table-bordered table-responsive">
    <thead>
        <tr class="table-primary">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody class="contacts-body">
        @{
            foreach (var contact in Model)
            {
                    <tr id="contact+@contact.Id" onclick="RouteToContactDetails(@contact.Id)">
                            <td>@contact.Id</td>
                            <td>@contact.FirstName</td>
                            <td>@contact.LastName</td>
                    </tr>
            }
        }
    </tbody>
</table>  
<button id="new-contact-btn" class="btn btn-primary">+ New Contact</button>